@CHARSET "ISO-8859-1";
.filter
{
	border-color:#EE0000;
	border:1px solid;
	margin: 2px 5px 2px 5px;
	padding: 2px 2px 2px 2px;
}

.tabHighlight {
	background: #FFEEAA;
	border: 3px solid;
}

.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    padding: 30px 5px 5px 5px;
    border: none;
    background-color: transparent;
    background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('images/logo-splash.png') !important;
    margin-top: -30px;
    margin-bottom: 10px;
}
.x-component-linkbutton div {
	width:120px;
}
.x-component-linkbutton a {
	border: 1px solid #888888;
	font-size: 11px;
	font-weight: bold;
	font-color: #FFEEAA;
	background: #D4D4EE;
	margin: 2px 5px 1px 5px;
	padding: 2px 9px 2px 9px;
	text-decoration:none;
}

.x-component-linkbutton a:hover {
	border: 2px solid #888888; 
	font-size: 12px;
	font-weight: bold;
	font-color: #333333;
	background: #FFEEAA;
	margin: 1px 5px 1px 5px;
	padding: 2px 9px 2px 9px;
	text-decoration:underline;
}

