@CHARSET "ISO-8859-1";
.filter
{
	border-color:#EE0000;
	border:1px solid;
	margin: 2px 5px 2px 5px;
	padding: 2px 2px 2px 2px;
}


.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    padding: 30px 5px 5px 5px;
    border: none;
    background-color: transparent;
    background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('images/logo-splash.png') !important;
    margin-top: -30px;
    margin-bottom: 10px;
}

.tabHighlight {
	background: #FFEEAA;
}

.breadcrumbstyle {
	color:blue;
	font-weight: bold;
	font-size: 11px;
}

 .frmSearchBtns .x-btn-inner {
	font-weight:bold; !important;
	width:90px; 
}

.dfLabel{
	font-size: 10px;
}

.dfWildcard{
	font-size: 9px;
}

.chkTitles{
	font-size: 10px;
}
 

.align-top { vertical-align:top; }

/* sizing of main search button */
.frmSearchBtns {
	margin : 0px 2px 0px 2px;
	height:30px; 
}

/* link button settings - normal, mouseover settings */
.x-component-linkbutton {
	text-decoration:none; 
	font-size: 11px;
	font-weight: bold;
	font-color: #FFEEAA;
	background: #D4D4EE;
	
}
.x-component-linkbutton a { 
	margin: 2px 5px 1px 5px;
	padding: 2px 9px 2px 9px;
}

.qryLinkbutton{
	background: #D4D4EE;
	text-decoration: none;
	width:55px;
	margin: 2px 5px 1px 5px; 
	border: 1px solid #888888;
	padding: 2px 9px 2px 9px;
	font-size: 11px;
	font-weight: bold;  
	font-color: #333333; 
	
}

.overQryLinkbutton {
	border: 2px solid #FF0000; 
	font-color: #333333;
	text-decoration:underline;
	font-size: 13px;
	font-weight: bold;
}

/* boolean search area */
.searchBooleanTextArea {
	border: 0px; !important;
	border: none; !important;
	background: #DFE8F5; 
}

.qbuilderBtnDeselected {
	border: 2px solid #DF0000;
	
}

.qbuilderBtnSelected {
	border: 2px solid #009911;
	background: #009933; 
	font-weight: bold;
}

.btnPagingToolbar .x-btn-inner{
	white-space:normal;
	line-height:normal;
	height:auto;
	
}

 .childRow{
        background-color: #C0C0C0;
    }

    .parentRow{
        background-color: 009911;
    }
    
 .icon-qbuilder {
 	background-image: url(../images/bricks.png) !important;
 }
 
 .icon-btnClear {
 	background-image: url(../images/cross.png) !important;
 }
 
.icon-btnSearch {
	background-image: url(../images/find.png) !important;
}